<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EPFAXPaperSize</key>
	<dict>
		<key>Black</key>
		<dict>
			<key>A4</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>2287</integer>
					<key>Width</key>
					<integer>1680</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1143</integer>
					<key>Width</key>
					<integer>1680</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Legal</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>2738</integer>
					<key>Width</key>
					<integer>1720</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1369</integer>
					<key>Width</key>
					<integer>1720</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Letter</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>2151</integer>
					<key>Width</key>
					<integer>1720</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1075</integer>
					<key>Width</key>
					<integer>1720</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>A3</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>3234</integer>
					<key>Width</key>
					<integer>2376</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1617</integer>
					<key>Width</key>
					<integer>2376</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Ledger</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>3325</integer>
					<key>Width</key>
					<integer>2232</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1662</integer>
					<key>Width</key>
					<integer>2232</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>B4</key>
			<dict>
				<key>Photo</key>
				<dict>
					<key>Height</key>
					<integer>2803</integer>
					<key>Width</key>
					<integer>2048</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>196</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
				<key>Standard</key>
				<dict>
					<key>Height</key>
					<integer>1401</integer>
					<key>Width</key>
					<integer>2048</integer>
					<key>XResolution_N</key>
					<integer>203</integer>
					<key>YResolution_N</key>
					<integer>98</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>Color</key>
		<dict>
			<key>A4</key>
			<dict>
				<key>Fine</key>
				<dict>
					<key>Height</key>
					<integer>2338</integer>
					<key>Width</key>
					<integer>1656</integer>
					<key>XResolution_N</key>
					<integer>200</integer>
					<key>YResolution_N</key>
					<integer>200</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Legal</key>
			<dict>
				<key>Fine</key>
				<dict>
					<key>Height</key>
					<integer>2800</integer>
					<key>Width</key>
					<integer>1704</integer>
					<key>XResolution_N</key>
					<integer>200</integer>
					<key>YResolution_N</key>
					<integer>200</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Letter</key>
			<dict>
				<key>Fine</key>
				<dict>
					<key>Height</key>
					<integer>2200</integer>
					<key>Width</key>
					<integer>1704</integer>
					<key>XResolution_N</key>
					<integer>200</integer>
					<key>YResolution_N</key>
					<integer>200</integer>
					<key>XResolution_D</key>
					<integer>1</integer>
					<key>YResolution_D</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>EPFAXTag</key>
	<dict>
		<key>Black</key>
		<dict>
			<key>BitsPerSample</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>258</integer>
			</dict>
			<key>Compression</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>259</integer>
			</dict>
			<key>FillOrder</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>266</integer>
			</dict>
			<key>ImageDescription</key>
			<dict>
				<key>CountField</key>
				<integer>32</integer>
				<key>DataType</key>
				<integer>2</integer>
				<key>DefaultValue</key>
				<string></string>
				<key>TagID</key>
				<integer>270</integer>
			</dict>
			<key>ImageLength</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>257</integer>
			</dict>
			<key>ImageWidth</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>256</integer>
			</dict>
			<key>NewSubFileType</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>254</integer>
			</dict>
			<key>PageNumber</key>
			<dict>
				<key>CountField</key>
				<integer>2</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>297</integer>
			</dict>
			<key>PhotometricInterpretation</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>262</integer>
			</dict>
			<key>ResolutionUnit</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>2</integer>
				<key>TagID</key>
				<integer>296</integer>
			</dict>
			<key>RowsPerStrip</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>278</integer>
			</dict>
			<key>SamplesPerPixel</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>277</integer>
			</dict>
			<key>StripByteCounts</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>279</integer>
			</dict>
			<key>StripOffsets</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>273</integer>
			</dict>
			<key>XResolution</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>5</integer>
				<key>DefaultValue</key>
				<integer>203</integer>
				<key>TagID</key>
				<integer>282</integer>
			</dict>
			<key>YResolution</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>5</integer>
				<key>DefaultValue</key>
				<integer>98</integer>
				<key>TagID</key>
				<integer>283</integer>
			</dict>
		</dict>
		<key>Color</key>
		<dict>
			<key>BitsPerSample</key>
			<dict>
				<key>CountField</key>
				<integer>3</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>8</integer>
				<key>TagID</key>
				<integer>258</integer>
			</dict>
			<key>Compression</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>259</integer>
			</dict>
			<key>FillOrder</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>1</integer>
				<key>TagID</key>
				<integer>266</integer>
			</dict>
			<key>ImageDescription</key>
			<dict>
				<key>CountField</key>
				<integer>32</integer>
				<key>DataType</key>
				<integer>2</integer>
				<key>DefaultValue</key>
				<string></string>
				<key>TagID</key>
				<integer>270</integer>
			</dict>
			<key>ImageLength</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>257</integer>
			</dict>
			<key>ImageWidth</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>256</integer>
			</dict>
			<key>NewSubFileType</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>254</integer>
			</dict>
			<key>PageNumber</key>
			<dict>
				<key>CountField</key>
				<integer>2</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>297</integer>
			</dict>
			<key>PhotometricInterpretation</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>2</integer>
				<key>TagID</key>
				<integer>262</integer>
			</dict>
			<key>ResolutionUnit</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>2</integer>
				<key>TagID</key>
				<integer>296</integer>
			</dict>
			<key>RowsPerStrip</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>278</integer>
			</dict>
			<key>SamplesPerPixel</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>3</integer>
				<key>DefaultValue</key>
				<integer>3</integer>
				<key>TagID</key>
				<integer>277</integer>
			</dict>
			<key>StripByteCounts</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>279</integer>
			</dict>
			<key>StripOffsets</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>4</integer>
				<key>DefaultValue</key>
				<integer>0</integer>
				<key>TagID</key>
				<integer>273</integer>
			</dict>
			<key>XResolution</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>5</integer>
				<key>DefaultValue</key>
				<integer>200</integer>
				<key>TagID</key>
				<integer>282</integer>
			</dict>
			<key>YResolution</key>
			<dict>
				<key>CountField</key>
				<integer>1</integer>
				<key>DataType</key>
				<integer>5</integer>
				<key>DefaultValue</key>
				<integer>200</integer>
				<key>TagID</key>
				<integer>283</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
