<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>M100 Series</string>
	<key>CFBundleGetInfoString</key>
	<string>M100 Series version 12.62, Copyright(C) Seiko Epson Corporation 2001-2022. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.epson.ijprinter.data.M100 Series</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>M100 Series</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.62</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>12.62</string>
</dict>
</plist>
