<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>	<string>/Library/Printers/EPSON/EPSON PIC Folder/Modules/PIC3.framework</string>	<string>/Library/Printers/EPSON/EPSON PIC Folder/PIC2.framework</string></array></plist>