<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<dict>
		<key>gsw</key>
		<string>de_CH</string>
		<key>de-AT</key>
		<string>de_AT</string>
		<key>de-CH</key>
		<string>de_CH</string>
		<key>en-AU</key>
		<string>en_AU</string>
		<key>en-CA</key>
		<string>en_CA</string>
		<key>en-GB</key>
		<string>en_GB</string>
		<key>en-US</key>
		<string>en_US</string>
		<key>fr-CA</key>
		<string>fr_CA</string>
		<key>fr-CH</key>
		<string>fr_CH</string>
		<key>nb</key>
		<string>no</string>
		<key>nl-BE</key>
		<string>nl_BE</string>
		<key>pt-BR</key>
		<string>pt_BR</string>
		<key>pt-PT</key>
		<string>pt_PT</string>
		<key>zh-Hans</key>
		<string>zh_CN</string>
		<key>zh-Hant</key>
		<string>zh_TW</string>
	</dict>
	<key>T</key>
	<dict>
		<key>de-AT</key>
		<string>de_AT</string>
		<key>de-CH</key>
		<string>de_CH</string>
		<key>en-AU</key>
		<string>en_AU</string>
		<key>en-CA</key>
		<string>en_CA</string>
		<key>en-GB</key>
		<string>en_GB</string>
		<key>en-US</key>
		<string>en_US</string>
		<key>fr-CA</key>
		<string>fr_CA</string>
		<key>fr-CH</key>
		<string>fr_CH</string>
		<key>nb</key>
		<string>no</string>
		<key>nl-BE</key>
		<string>nl_BE</string>
		<key>pt-BR</key>
		<string>pt_BR</string>
		<key>pt-PT</key>
		<string>pt_PT</string>
		<key>zh-Hans</key>
		<string>zh_CN</string>
		<key>zh-Hant</key>
		<string>zh_TW</string>
	</dict>
</dict>
</plist>
