<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultSettingOptions</key>
	<array>
		<string>EPIJ_ABDf</string>
		<string>EPIJ_Deft</string>
	</array>
	<key>GlobalSettingOptions</key>
	<array>
		<string>EPIJ_Silt</string>
		<string>EPIJ_GPlt</string>
		<string>EPIJ_PGEx</string>
		<string>EPIJ_BSSv</string>
		<string>EPIJ_HJFK</string>
		<string>EPIJ_EPWX</string>
		<string>EPIJ_NCBP</string>
		<string>EPIJ_AuCS</string>
		<string>EPIJ_BkSM</string>
		<string>EPIJ_OPT_Bi_D</string>
		<string>EPIJ_BIJFilng</string>
		<string>EPIJ_BkPr</string>
	</array>
	<key>MediaSpecRangeOptions</key>
	<array>
		<string>EPIJ_UEpL</string>
		<string>EPIJ_CCor</string>
		<string>EPIJ_ERGB</string>
		<string>EPIJ_MeInSeNm</string>
		<string>EPIJ_Qual</string>
	</array>
	<key>PageSizeSpecRangeOptions</key>
	<array>
		<string>EPIJ_IkDt</string>
		<string>EPIJ_ColrIkDt</string>
		<string>EPIJ_BlckIkDt</string>
	</array>
	<key>MediaSpecRangeFromConditionValueOptions</key>
	<array>
		<string>EPIJ_MeInSeNm</string>
	</array>
	<key>ConnectiveMediaSpecRangeOptions</key>
	<array>
		<dict>
			<key>OptionKey</key>
			<string>EPIJ_MeInSeNm_Connective</string>
			<key>MainKey</key>
			<string>EPIJ_MeInSeNm</string>
			<key>ConnectiveKey</key>
			<string>EPIJ_MdGropID</string>
		</dict>
	</array>
	<key>DirectDataRangeOptions</key>
	<array>
		<string>EPIJ_Brit</string>
		<string>EPIJ_Cont</string>
		<string>EPIJ_Satu</string>
		<string>EPIJ_Cyan</string>
		<string>EPIJ_Mage</string>
		<string>EPIJ_Yell</string>
		<string>EPIJ_Mobr</string>
		<string>EPIJ_MoCo</string>
		<string>EPIJ_ShTo</string>
		<string>EPIJ_HiTo</string>
		<string>EPIJ_MxOD</string>
		<string>EPIJ_CirX</string>
		<string>EPIJ_CirY</string>
		<string>EPIJ_IkDt</string>
		<string>EPIJ_ColrIkDt</string>
		<string>EPIJ_BlckIkDt</string>
		<string>EPIJ_DrTm</string>
		<string>EPIJ_PaFd</string>
		<string>EPIJ_Thck</string>
		<string>EPIJ_BPDT</string>
		<string>EPIJ_FDID</string>
		<string>EPIJ_FDDr</string>
		<string>EPIJ_RMLe</string>
	</array>
	<key>DoubleValueRangeSupportOptions</key>
	<array>
		<string>EPIJ_ESizePer</string>
	</array>
	<key>ForceEnabledDataValue</key>
	<array>
		<string>EPIJ_DPDT_3</string>
		<string>EPIJ_FDDT_3</string>
	</array>
	<key>ForceConstrainedValueCondition</key>
	<array>
		<string>EPIJ_Manu_0</string>
	</array>
	<key>ConditionDataForceSetData</key>
	<dict>
		<key>Resolution</key>
		<dict>
			<key>EPIJ_Mode</key>
			<string>3</string>
		</dict>
	</dict>
	<key>SystemDataCondition</key>
	<array>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>Choice</key>
			<string>0</string>
			<key>ClientInfo</key>
			<integer>2</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>3</integer>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_CMat</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>Choice</key>
			<string>2</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_CMat</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_CoDp</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>2</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_HiPS</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>Choice</key>
			<string>4</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_HdofClSp</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_HdofClSp</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>Choice</key>
			<string>3</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_OSCMProf</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_OSCMProf</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>2</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_OSCMProf</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>3</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_OSCMProf</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_REye</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_ATon</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_AFil</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_AGai</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_ACam</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_DCCT</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_APFPrvID</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_ARot</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_RoWd</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_PrBg</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_BgBr</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_BkSM</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>Option</key>
			<string>EPIJ_BkPr</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>7</integer>
			<key>Option</key>
			<string>Duplex</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_CMat 0</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_CMat 1</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_CMat 2</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_Ink_ 0</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_Ink_ 3</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_Ink_ 4</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>4</integer>
			<key>AppKitVersionNumber</key>
			<integer>949</integer>
			<key>DriverSystem</key>
			<integer>2</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>5</integer>
			<key>Option</key>
			<string>*EPIJUIConstraint: *EPIJ_OSColMat 2|*EPIJ_ERGB 1</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_DPDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_IkDt</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_DPDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_ColrIkDt</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_DPDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_BlckIkDt</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_DPDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_DrTm</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_FDDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_FDID</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>0</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>6</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_FDDT</string>
			</array>
			<key>Option</key>
			<string>EPIJ_FDDr</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>9</string>
			<key>ClientInfo</key>
			<integer>1</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>Option</key>
			<string>EPIJ_CCor</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PurpSumm</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PurpImag</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Mode</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>100</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>101</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>102</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>103</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>104</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>105</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>106</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>107</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>1</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PurpImag</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Manu</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevBase</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevPage</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevChar</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevArow</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevBanr</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_PrevScis</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_OSOr</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_OS18</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_PrevBase</string>
			</array>
			<key>Option</key>
			<string>EPIJ_OSFH</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_ExpaPage</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_ExpaPurp</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_RFitSide</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_ESizeTyp</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_OPapInfo</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_OPapFitT</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_ESizePer</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_AspR</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_RAng</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>4</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_MtWd</string>
		</dict>
		<dict>
			<key>AppKitVersionCondition</key>
			<integer>0</integer>
			<key>AppKitVersionNumber</key>
			<integer>0</integer>
			<key>DriverSystem</key>
			<integer>1</integer>
			<key>Choice</key>
			<string>1</string>
			<key>ClientInfo</key>
			<integer>0</integer>
			<key>DataConditionStructVersion</key>
			<integer>1</integer>
			<key>Operation</key>
			<integer>2</integer>
			<key>OptionAvailableInfo</key>
			<array>
				<string>EPIJ_ExpaPage</string>
			</array>
			<key>Option</key>
			<string>EPIJ_Bdls</string>
		</dict>
	</array>
	<key>UpdatePaperSourceExtraLinkedValueOptions</key>
	<array>
		<string>EPIJPaperConfigPreset</string>
		<string>EPIJLowerEndBandingPreset</string>
	</array>
</dict>
</plist>
