<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>標準（下端マージン14mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>3</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>最大（下端マージン 3mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>3</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>最大（下端マージン 3mm）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>センタリング</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 単票紙（標準）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>42</string>
			<string>7</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 単票紙（左右フチなし）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-AutoExpansion）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>単票紙（フチなし-KeepScale）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>単票紙（最大）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>34</string>
			<string>29</string>
			<string>42</string>
			<string>7</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>BorderType</key>
		<integer>0</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>0</integer>
		<key>Description</key>
		<string>（欠番）</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>0</integer>
		<key>PaperType</key>
		<integer>0</integer>
		<key>PrinterType</key>
		<integer>0</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（定型／長尺）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>12</string>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチなし（定型）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチなし（長尺）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>BottomMarginTypeAppend</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP ロール紙（標準）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>18</string>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>LFP ロール紙（単票左右フチなし）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙長尺（標準）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>2</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙長尺（左右フチなし）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>4</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙（フチなし-AutoExpansion）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（フチなし-KeepScale）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙長尺（フチなし-KeepScale）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>4</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>フォトアルバム紙</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>22</string>
		</array>
	</dict>
	<key>22</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>フォトアルバム紙（フチなし）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>手差し（定型）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>24</string>
		</array>
	</dict>
	<key>24</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>手差し（フチなし）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>25</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>手差し（CD/DVD）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>手差し for L2</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>背面トレイ</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>28</string>
		</array>
	</dict>
	<key>28</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>背面トレイ（フチなし）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>29</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-AutoExpansion-最大）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>30</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-Retain-最大）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>31</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>Sheet in Roll Slot（最大）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>32</string>
		</array>
	</dict>
	<key>32</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>Sheet in Roll Slot（フチなし）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>33</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>手差し（上下端マージン20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>34</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>5</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（四辺フチなし-AutoExpansion）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>35</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>5</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（四辺フチなし-Retain）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>36</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>LFP リア手差し（定型）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>37</string>
		</array>
	</dict>
	<key>37</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>5</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP リア手差し（四辺フチなし-AutoExpansion）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>38</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>5</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP リア手差し（四辺フチなし-Retain）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>39</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>LFP フロント手差し（上下端マージン20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>40</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>四辺フチなし-KeepScale</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>41</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>1</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>Sheet in Roll Slot（フチなし-KeepScale）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>42</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-AutoExpansion）下端17mm</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>43</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>4</integer>
		<key>Description</key>
		<string>単票紙（フチなし-KeepScale）下端17mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>44</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチあり定型</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>12</string>
		</array>
	</dict>
	<key>45</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチあり長尺</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>46</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>手差し（定型最大、カスタム上下端20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>24</string>
		</array>
	</dict>
	<key>47</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 前面手差し（下端14mm）</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
	</dict>
	<key>48</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（フチなし-KeepScale）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>49</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチあり定型 ページ間でMW連続</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>50</string>
		</array>
	</dict>
	<key>50</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙フチなし定型 ページ間でMW連続</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>51</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP単票紙フチあり上下マージン14mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>42</string>
			<string>7</string>
		</array>
	</dict>
	<key>52</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（フチなし-原寸維持-Prosele）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>57</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 単票紙　下端16mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>61</string>
		</array>
	</dict>
	<key>58</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 単票紙　上下端16mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>61</string>
		</array>
	</dict>
	<key>59</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 前面手差しボード紙　下端16mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
	</dict>
	<key>60</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 前面手差しボード紙　上下端16mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
	</dict>
	<key>61</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙　フチなし-AutoExpansion　下端16mm</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>62</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 単票紙　フチなし-Retain　下端16mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>63</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP ロール紙（下端14mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>18</string>
		</array>
	</dict>
	<key>64</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙（上下 0mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>18</string>
		</array>
	</dict>
	<key>65</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>LFP フチあり 3mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>0</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>1</integer>
	</dict>
	<key>66</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ジャストサイズ</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>0</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>67</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙（フチなし-AutoExpansion 0mm）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>68</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（フチなし-KeepScale 0mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>69</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>LFP 単票紙　下端20mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>70</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>LFP 単票紙（上下端マージン 20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>71</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-AutoExtansion）下端20mm</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>72</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-KeepScale）下端20mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>73</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>LFP ロール紙 ジャストサイズ</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>74</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 背面手差しボード紙　下端14mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
	</dict>
	<key>75</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>3</integer>
		<key>Description</key>
		<string>LFP 背面手差しボード紙　上下端14mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
	</dict>
	<key>76</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>手差し（下端マージン20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>24</string>
		</array>
	</dict>
	<key>77</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 単票紙　下端12.7mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>78</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 単票紙（上下端マージン 12.7mm）</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>79</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-AutoExtansion）下端12.7mm</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>80</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 単票紙（フチなし-KeepScale）下端12.7mm</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>3</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>6</integer>
	</dict>
	<key>81</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 前面手差しボード紙　下端12.7mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>82</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>3</integer>
		<key>BottomMarginType</key>
		<integer>7</integer>
		<key>Description</key>
		<string>LFP 前面手差しボード紙　上下端12.7mm</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>5</integer>
	</dict>
	<key>83</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>5</integer>
		<key>Description</key>
		<string>前面 – 排紙ローラー不使用(光沢紙)（上下端マージン20mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>84</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>2</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ロール紙（フチなし-AutoExpansion）はみ出し量可変</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>502</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>2</integer>
		<key>Description</key>
		<string>最大（下端マージン 5mm）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>1</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
	<key>1001</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>Labロール紙 フチあり（マージン0mm）</string>
		<key>ExpansionType</key>
		<integer>0</integer>
		<key>MarginType</key>
		<integer>1</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>1</integer>
		<key>BorderlessPrintingPaperSources</key>
		<array>
			<string>1002</string>
		</array>
	</dict>
	<key>1002</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>Labロール紙 フチなし（自動拡大）</string>
		<key>ExpansionType</key>
		<integer>2</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>1003</key>
	<dict>
		<key>BorderType</key>
		<integer>2</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>4</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>Labロール紙 フチなし（原寸維持）</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>4</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>2</integer>
		<key>PaperSourcePriority</key>
		<integer>3</integer>
	</dict>
	<key>2002</key>
	<dict>
		<key>BorderType</key>
		<integer>1</integer>
		<key>BorderlessPaperSourceType</key>
		<integer>0</integer>
		<key>BottomMarginType</key>
		<integer>1</integer>
		<key>Description</key>
		<string>ラベル　ロール紙フチあり定型</string>
		<key>ExpansionType</key>
		<integer>1</integer>
		<key>MarginType</key>
		<integer>2</integer>
		<key>PaperType</key>
		<integer>2</integer>
		<key>PrinterType</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
