<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LFPSheetBorderlessAutoExpandDrawSourceArea</key>
	<dict>
		<key>1</key>
		<array>
			<integer>70</integer>
			<integer>70</integer>
			<integer>70</integer>
			<integer>70</integer>
		</array>
	</dict>
	<key>ConsumerRollBorderlessRetainSizeDrawSourceArea</key>
	<array>
		<integer>0</integer>
		<integer>60</integer>
		<integer>0</integer>
		<integer>60</integer>
	</array>
	<key>LFPRollBorderlessRetainSizeDrawSourceArea</key>
	<array>
		<integer>0</integer>
		<integer>70</integer>
		<integer>0</integer>
		<integer>70</integer>
	</array>
	<key>LFPRollBorderlessAutoExpandDrawSourceArea</key>
	<dict>
		<key>1</key>
		<array>
			<integer>70</integer>
			<integer>70</integer>
			<integer>70</integer>
			<integer>70</integer>
		</array>
	</dict>
	<key>ConsumerRollBorderlessAutoExpandDrawSourceArea</key>
	<dict>
		<key>2</key>
		<array>
			<integer>70</integer>
			<integer>58</integer>
			<integer>70</integer>
			<integer>58</integer>
		</array>
	</dict>
	<key>LFPSheetBorderlessRetainSizeDrawSourceArea</key>
	<array>
		<integer>0</integer>
		<integer>70</integer>
		<integer>0</integer>
		<integer>70</integer>
	</array>
</dict>
</plist>
