<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar</key>
	<string>AR</string>
	<key>da</key>
	<string>DA</string>
	<key>de</key>
	<string>DE</string>
	<key>en</key>
	<string>EN</string>
	<key>es</key>
	<string>ES</string>
	<key>fi</key>
	<string>FI</string>
	<key>fr</key>
	<string>FR</string>
	<key>it</key>
	<string>IT</string>
	<key>ja</key>
	<string>JA</string>
	<key>ko</key>
	<string>KO</string>
	<key>nb</key>
	<string>NB</string>
	<key>nl</key>
	<string>NL</string>
	<key>pl</key>
	<string>PL</string>
	<key>pt</key>
	<string>P2</string>
	<key>pt-BR</key>
	<string>P2</string>
	<key>pt-PT</key>
	<string>PT</string>
	<key>ru</key>
	<string>RU</string>
	<key>sv</key>
	<string>SV</string>
	<key>th</key>
	<string>TH</string>
	<key>tr</key>
	<string>TR</string>
	<key>zh-Hans</key>
	<string>C2</string>
	<key>zh-Hant</key>
	<string>ZH</string>
	<key>cs</key>
	<string>CS</string>
	<key>hu</key>
	<string>HU</string>
	<key>el</key>
	<string>EL</string>
	<key>uk</key>
	<string>UK</string>
	<key>ro</key>
	<string>RO</string>
	<key>id</key>
	<string>ID</string>
	<key>he</key>
	<string>HE</string>
	<key>ms</key>
	<string>MS</string>
	<key>en-US</key>
	<string>E2</string>
</dict>
</plist>
