<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13D65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>cijsdj_sfusb</string>
	<key>CFBundleGetInfoString</key>
	<string>cijsdj_sfusb version 1.4.0, Copyright CANON INC. 2005-2014</string>
	<key>CFBundleIdentifier</key>
	<string>jp.co.canon.ij.scangear.cijsdj.sfusb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cijsdj_sfusb</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>395FA579-770C-4315-A7C3-7AD1AF55CAE0</key>
		<string>IOPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8EE165A5-FECB-45C4-AC61-333293C58D4C</key>
		<array>
			<string>395FA579-770C-4315-A7C3-7AD1AF55CAE0</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright CANON INC. 2005-2014</string>
</dict>
</plist>
