<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ItemsInfo</key>
	<dict>
		<key>0</key>
		<array>
			<string>@JobName</string>
			<string>EPIJ_Medi</string>
			<string>EPIJ_Size</string>
			<string>EPIJ_Ink_</string>
			<string>EPIJ_PrntMode</string>
			<string>@PrintResolution</string>
		</array>
		<key>1</key>
		<array>
			<string>@ColorControl</string>
			<string>EPIJ_OvCt</string>
			<string>EPIJ_Gamm</string>
			<string>EPIJ_Brit</string>
			<string>EPIJ_Cont</string>
			<string>EPIJ_Satu</string>
			<string>EPIJ_Cyan</string>
			<string>EPIJ_Mage</string>
			<string>EPIJ_Yell</string>
		</array>
		<key>2</key>
		<array>
			<string>@ColorControl</string>
			<string>EPIJ_OvCt</string>
			<string>EPIJ_Gamm</string>
			<string>EPIJ_Brit</string>
			<string>EPIJ_Cont</string>
			<string>EPIJ_Satu</string>
			<string>EPIJ_Cyan</string>
			<string>EPIJ_Mage</string>
			<string>EPIJ_Yell</string>
		</array>
		<key>3</key>
		<array>
			<string>@ColorControl</string>
			<string>EPIJ_OvCt</string>
			<string>EPIJ_ATon</string>
			<string>@APF_Sharpness</string>
			<string>@APF_DCC</string>
		</array>
		<key>4</key>
		<array>
			<string>EPIJ_OvCt</string>
			<string>EPIJ_ClTn</string>
			<string>EPIJ_MoGm</string>
			<string>EPIJ_Mobr</string>
			<string>EPIJ_MoCo</string>
			<string>EPIJ_ShTo</string>
			<string>EPIJ_CirX</string>
			<string>EPIJ_CirY</string>
			<string>EPIJ_HiTo</string>
			<string>EPIJ_MxOD</string>
			<string>EPIJ_HiPS</string>
		</array>
		<key>5</key>
		<array>
			<string>@ColorControl</string>
			<string>EPIJ_OvCt</string>
			<string>EPIJ_Gamm</string>
			<string>EPIJ_Brit</string>
			<string>EPIJ_Cont</string>
		</array>
	</dict>
	<key>IDInfo</key>
	<dict>
		<key>@JobName</key>
		<dict>
			<key>ByteLength</key>
			<integer>0</integer>
			<key>ItemID</key>
			<integer>1</integer>
		</dict>
		<key>EPIJ_Medi</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>2</integer>
		</dict>
		<key>@EMXMedia</key>
		<dict>
			<key>ByteLength</key>
			<integer>4</integer>
			<key>ItemID</key>
			<integer>29</integer>
		</dict>
		<key>EPIJ_Size</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>3</integer>
		</dict>
		<key>EPIJ_Ink_</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>4</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Ink_</key>
				<dict>
					<key>1</key>
					<integer>0</integer>
					<key>3</key>
					<integer>1</integer>
					<key>0</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_PrntMode</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>5</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_PrntMode</key>
				<dict>
					<key>255</key>
					<integer>128</integer>
				</dict>
				<key>PrintQuality</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
					<key>1</key>
					<integer>1</integer>
					<key>2</key>
					<integer>2</integer>
					<key>3</key>
					<integer>3</integer>
					<key>4</key>
					<integer>4</integer>
					<key>7</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_OvCt</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>6</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_OvCt</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
					<key>1</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>@ColorControl</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>7</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_CCor</key>
				<dict>
					<key>4</key>
					<integer>0</integer>
					<key>6</key>
					<integer>1</integer>
				</dict>
				<key>EPIJ_CMat</key>
				<dict>
					<key>1</key>
					<integer>2</integer>
					<key>3</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Gamm</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>8</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Gamm</key>
				<dict>
					<key>1</key>
					<integer>0</integer>
					<key>0</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Brit</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>9</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Brit</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Cont</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>10</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Cont</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Satu</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>11</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Satu</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Cyan</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>12</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Cyan</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Mage</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>13</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Mage</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Yell</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>14</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Yell</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_ATon</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>15</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_ATon</key>
				<dict>
					<key>7</key>
					<integer>0</integer>
					<key>11</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>13</key>
					<integer>3</integer>
					<key>4</key>
					<integer>4</integer>
					<key>8</key>
					<integer>5</integer>
					<key>15</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
		<key>@APF_Sharpness</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>16</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_AFil</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
				</dict>
				<key>EPIJ_AGai</key>
				<dict>
					<key>1</key>
					<integer>1</integer>
					<key>2</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>@APF_DCC</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>17</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_ACam</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
				</dict>
				<key>EPIJ_DCCT</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>1</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_ClTn</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>18</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_ClTn</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
					<key>1</key>
					<integer>1</integer>
					<key>2</key>
					<integer>2</integer>
					<key>3</key>
					<integer>3</integer>
					<key>255</key>
					<integer>128</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_MoGm</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>19</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_MoGm</key>
				<dict>
					<key>0</key>
					<integer>4</integer>
					<key>1</key>
					<integer>3</integer>
					<key>2</key>
					<integer>2</integer>
					<key>3</key>
					<integer>1</integer>
					<key>4</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_Mobr</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>20</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_Mobr</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_MoCo</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>21</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_MoCo</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_ShTo</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>22</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_ShTo</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_CirX</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>23</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_CirX</key>
				<dict>
					<key>0_Base</key>
					<integer>-75</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_CirY</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>24</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_CirY</key>
				<dict>
					<key>0_Base</key>
					<integer>-75</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_HiTo</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>25</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_HiTo</key>
				<dict>
					<key>0_Base</key>
					<integer>-25</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_MxOD</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>26</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_MxOD</key>
				<dict>
					<key>0_Base</key>
					<integer>-50</integer>
				</dict>
			</dict>
		</dict>
		<key>EPIJ_HiPS</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>27</integer>
			<key>OptionID</key>
			<dict>
				<key>EPIJ_HiPS</key>
				<dict>
					<key>0</key>
					<integer>0</integer>
					<key>1</key>
					<integer>2</integer>
					<key>2</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>@PrintResolution</key>
		<dict>
			<key>ByteLength</key>
			<integer>1</integer>
			<key>ItemID</key>
			<integer>28</integer>
			<key>OptionID</key>
			<dict>
				<key>@PrintResolution</key>
				<dict>
					<key>360 x 360</key>
					<integer>0</integer>
					<key>720 x 360</key>
					<integer>1</integer>
					<key>720 x 720</key>
					<integer>2</integer>
					<key>1440 x 720</key>
					<integer>3</integer>
					<key>1440 x 1440</key>
					<integer>4</integer>
					<key>5760 x 1440</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>CountryCode</key>
	<dict>
		<key>ar</key>
		<integer>1025</integer>
		<key>zh_CN</key>
		<integer>2052</integer>
		<key>zh_TW</key>
		<integer>1028</integer>
		<key>cs</key>
		<integer>1029</integer>
		<key>da</key>
		<integer>1030</integer>
		<key>nl</key>
		<integer>1043</integer>
		<key>en</key>
		<integer>1033</integer>
		<key>fa</key>
		<integer>1065</integer>
		<key>fi</key>
		<integer>1035</integer>
		<key>fr</key>
		<integer>1036</integer>
		<key>fr_ca</key>
		<integer>3084</integer>
		<key>de</key>
		<integer>1031</integer>
		<key>el</key>
		<integer>1032</integer>
		<key>hi</key>
		<integer>1081</integer>
		<key>hu</key>
		<integer>1038</integer>
		<key>id</key>
		<integer>1057</integer>
		<key>it</key>
		<integer>1040</integer>
		<key>ja</key>
		<integer>1041</integer>
		<key>ko</key>
		<integer>1042</integer>
		<key>ms</key>
		<integer>1086</integer>
		<key>no</key>
		<integer>1044</integer>
		<key>pl</key>
		<integer>1045</integer>
		<key>pt_PT</key>
		<integer>2070</integer>
		<key>pt</key>
		<integer>1046</integer>
		<key>ru</key>
		<integer>1049</integer>
		<key>es</key>
		<integer>1034</integer>
		<key>sv</key>
		<integer>1053</integer>
		<key>th</key>
		<integer>1054</integer>
		<key>tr</key>
		<integer>1055</integer>
		<key>uk</key>
		<integer>1058</integer>
		<key>vi</key>
		<integer>1066</integer>
	</dict>
</dict>
</plist>
