<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EPScale</key>
	<string>ZoomExpandRate</string>
	<key>EPGamma</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPGamma</key>
						<string>Gamma150</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneGamma</key>
					<integer>150</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPGamma</key>
						<string>Gamma180</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneGamma</key>
					<integer>180</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPGamma</key>
						<string>Gamma220</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneGamma</key>
					<integer>220</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPBrightness</key>
	<string>Brightness</string>
	<key>EPContrast</key>
	<string>Contrast</string>
	<key>EPSaturation</key>
	<string>Saturation</string>
	<key>EPCyan</key>
	<string>Cyan</string>
	<key>EPMagenta</key>
	<string>Magenta</string>
	<key>EPYellow</key>
	<string>Yellow</string>
	<key>EPDuty</key>
	<string>PrintDensity</string>
	<key>EPIntent</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>Photo</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>Biz-Color</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>12</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>E-RGB</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>6</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>NoColorAdujustment</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>Multi-Black</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>13</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPIntent</key>
						<string>CAD-Color</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HalftoneIntent</key>
					<integer>14</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPSmooth</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPSmooth</key>
						<string>SmoothOff</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>FinestDetail</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPSmooth</key>
						<string>SmoothOn</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>FinestDetail</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPBPC</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPBPC</key>
						<string>Off</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>BlackPointCompensation</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPBPC</key>
						<string>On</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>BlackPointCompensation</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPAddTopMargin</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPAddTopMargin</key>
						<string>Off</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>AvoidLowerEndBanding</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPAddTopMargin</key>
						<string>Off</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>AvoidLowerEndBanding</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPAddTopMargin</key>
						<string>On</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>AvoidLowerEndBanding</key>
					<integer>2</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPRIPMode</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRIPMode</key>
						<string>RIPToMem</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HDDPrintSendingFinished</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRIPMode</key>
						<string>RIPToDisk</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HDDPrintSendingFinished</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPDotCorrection</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPDotCorrection</key>
						<string>Off</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>DotCorrection</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPDotCorrection</key>
						<string>On</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>DotCorrection</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>_ConvertTableDB</key>
	<array>
		<string>EPScale</string>
		<string>EPGamma</string>
		<string>EPBrightness</string>
		<string>EPContrast</string>
		<string>EPSaturation</string>
		<string>EPCyan</string>
		<string>EPMagenta</string>
		<string>EPYellow</string>
		<string>EPDuty</string>
		<string>EPIntent</string>
		<string>EPSmooth</string>
		<string>EPBPC</string>
		<string>EPRIPMode</string>
		<string>EPDotCorrection</string>
		<string>EPPSColorConversion</string>
		<string>EPAddTopMargin</string>
	</array>
	<key>EPPSColorConversion</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPSColorConversion</key>
						<string>Off</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PostScriptColorTransfomation</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPSColorConversion</key>
						<string>On</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PostScriptColorTransfomation</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
