<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EPPathDelayTime</key>
	<string>DryingTime</string>
	<key>EPPageDelayTime</key>
	<string>DryingTimeByPage</string>
	<key>EPPaperThickness</key>
	<string>PaperThickness</string>
	<key>EPJobHold</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPJobHold</key>
						<string>JobPrtAndHold</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HDDPrintMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPJobHold</key>
						<string>JobPrt</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HDDPrintMode</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPJobHold</key>
						<string>JobHold</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>HDDPrintMode</key>
					<integer>2</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPFeedingOffset</key>
	<string>PaperFeed</string>
	<key>EPVacuumIntensity</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPVacuumIntensity</key>
						<string>Std</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>SuctionValue</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPVacuumIntensity</key>
						<string>down1</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>SuctionValue</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPVacuumIntensity</key>
						<string>down2</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>SuctionValue</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPVacuumIntensity</key>
						<string>down3</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>SuctionValue</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPVacuumIntensity</key>
						<string>down4</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>SuctionValue</key>
					<integer>4</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPRollTensionMode</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRollTensionMode</key>
						<string>Auto</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>RollPaperTension</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRollTensionMode</key>
						<string>Normal</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>RollPaperTension</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRollTensionMode</key>
						<string>High</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>RollPaperTension</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPRollTensionMode</key>
						<string>ExtraHigh</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>RollPaperTension</key>
					<integer>3</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>EPPlatenGapMode</key>
	<dict>
		<key>ConvertTable</key>
		<array>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPlatenGapMode</key>
						<string>Auto</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PlatenGapControl</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPlatenGapMode</key>
						<string>Wider</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PlatenGapControl</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPlatenGapMode</key>
						<string>Wide</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PlatenGapControl</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPlatenGapMode</key>
						<string>Std</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PlatenGapControl</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>ConvertParam</key>
				<dict>
					<key>SetParam</key>
					<dict>
						<key>EPPlatenGapMode</key>
						<string>Narrow</string>
					</dict>
				</dict>
				<key>MatchingParam</key>
				<dict>
					<key>PlatenGapControl</key>
					<integer>4</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>_ConvertTableDB</key>
	<array>
		<string>EPPathDelayTime</string>
		<string>EPPageDelayTime</string>
		<string>EPPaperThickness</string>
		<string>EPJobHold</string>
		<string>EPFeedingOffset</string>
		<string>EPVacuumIntensity</string>
		<string>EPRollTensionMode</string>
		<string>EPPlatenGapMode</string>
	</array>
</dict>
</plist>
